:root {
 

 

   --sidebar-bg: #ffffff;
  --main-bg: #f5f6fa;
  --text: #222;
  --Card-bg: #ffffff;
  --icon-bg: #136dfa;
   --icon-cross: #ffffff;
}

[data-theme="dark"] {
   --sidebar-bg: #0f172a;
  --main-bg: #020617;
  --text: white;
  --Card-bg: #1f293b; 
    --icon-bg: white;
  --icon-cross: black;

}
.bi {
  color: var(--icon-color);
}
.cross{ 
  color: var(--icon-cross);
  background-color:var(--icon-bg) ;
}
body {
  margin: 0;
  background: var(--main-bg) !important;
  color: var(--text) !important;
  color: var(--icon-color) ;
  font-family: sans-serif;
}
.Card{
  
  background: var(--Card-bg) !important;
  color: var(--text) !important;
 
}

.layout {
  display: flex;
  
}
.main {
  display: flex;
  flex-direction: column;
  height: 100vh;      
  overflow-y: auto; 
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;      
  height: 60px;       
}
.content {
  flex: 1;
  padding: 20px;
    background: var(--main-bg) !important; 
  color: var(--text) !important; 
  scroll-behavior: auto;          

}
.signUp {

    background: var(--main-bg) !important; 
  color: var(--text) !important;           

}

.rotate{
transform:rotate(180deg);
transition:0.3s;
}
.rotate2{
transform:rotate(360deg);
transition:0.3s;
}
.listitem:hover{
  color: black ;
  background: #ececec;
}
.listitem{ 
  
  margin-bottom: 14px !important;
  
}

.active {
  
   color: black !important; ;
  background: #ececec !important;

}

.active-class{
  padding: 10px 10px 10px 10px !important;
}

.submenu {
  padding-left: 30px;
  list-style: none;
}
.sidebar {
  background: var(--sidebar-bg);
 color: var(--text);
  position: fixed;
  z-index: 800;
  left: 0;
  top: 0;
  overflow: hidden;
  transition: 0.3s;
  width: 250px;
  height: 100vh;
  
 
}
.sidebarscroll{
  height: 87vh;
  overflow-y: auto;
  scrollbar-width: none;
   scroll-behavior: smooth;
}


.sidebar.expanded {
  width: 260px;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar.mobileOpen {
  width: 260px;
  transform: translateX(0);
}

.sidebar.mobileClosed {
  transform: translateX(-100%);
}

.menu {
  list-style: none;
  padding: 20px;
}

.menu li {
  padding: 12px 10px;
  cursor: pointer;
}

/* MAIN AREA */

.main {
  flex: 1;
  transition: 0.3s;
}

.main.expanded {
  margin-left: 260px;
}

.main.collapsed {
  margin-left: 70px;
}

.main.mobileOpen,
.main.mobileClosed {
  margin-left: 0;
}

/* TOPBAR */

.topbar {
  
  background: var(--sidebar-bg);
   position: sticky;
   top: 0;
   color: var(--text);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  z-index: 10;
  
 

}
.sidetop{
height: 59px;
}
@media (min-width: 768px) {
 .sidetop{
height: 62px;
}
}

.content {
  padding: 20px;
}


.sidebar-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--text);
  border-radius: 6px;
  background: transparent;
  border: none;
}

.sidebar-link:hover {
  background: rgba(0,0,0,0.05);
}

.sidebar-sublink {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: var(--text);
  font-size: 14px;
}

.sidebar-sublink:hover {
  opacity: 0.8;
}