 :root {
 

 

   --sidebar-bg: #ffffff;
  --main-bg: hsl(228, 33%, 97%);
  --text: #222;
  --Card-bg: #ffffff;
  --user-card:#ffffff;
  --icon-bg: #136dfa;
   --icon-cross: #ffffff;
   --icon-color: black;
   --sidebar-text: #456bed;
   --sidebar-text-bg:#eff6fe;
   --listitem-hover:#d4d4d452;
   --listitem-text:#334155;
     --border: rgba(0, 0, 0, 0.1);
     --chart-bg: #ffffff;
  --chart-text: #222;
  --hover-bg:#c4bebe;
  --t--head:#ffff;


}

[data-theme="dark"] {
  --user-card:#1f293b;
   --sidebar-bg: #0f172a;
  --main-bg: #020617; 
  --text: white;
  --Card-bg: #1f293b;  
    --icon-bg: white;
  --icon-cross: black;
   --icon-color: #fff;
    --sidebar-text: #60a5fa;
    --sidebar-text-bg:#121c3d;
    --listitem-hover:#d4d4d418;
    --listitem-text:#a0acbe;
     --border: rgba(255, 255, 255, 0.1);
       --chart-bg: #1f293b;
  --chart-text: #fff;
  --hover-bg:#d4d4d418;
  --t--head:#d4d4d418;

}
.sidebar-text-icon{
  font-size: 19px;
}
.Dash-card{
  
  padding: 25px 12px 24px 12px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  background-color: var(--Card-bg);
  border-radius: 10px;
}
.bi {
  color: var(--icon-color);
}
.cross{ 
  color: var(--icon-cross);
  background-color:var(--icon-bg) ;
}
body {
  margin: 0;
  background: var(--main-bg) !important;
  color: var(--text) !important;
  color: var(--icon-color) ;
  font-family: sans-serif;
}
.Card{
  
  background: var(--Card-bg) !important;
  color: var(--text) !important;
 
}

.layout {
  display: flex;
  
}
.main {
  display: flex;
  flex-direction: column;
  height: 100vh;      
  overflow-y: auto; 
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;      
  height: 60px;       
}
.content {
  flex: 1;
  padding: 20px;
    background: var(--main-bg) !important; 
  color: var(--text) !important; 
  scroll-behavior: auto;          

}
.signUp {

    background: var(--main-bg) !important; 
  color: var(--text) !important;           

}

.rotate{
transform:rotate(180deg);
transition:0.3s;
}
.rotate2{
transform:rotate(360deg);
transition:0.3s;
}
.listitem:hover{
  color: var(--listitem-text);
  
  background-color: var(--listitem-hover);
  
}
.listitem{ 
   color: var(--listitem-text);
  margin-bottom: 14px !important;
  
}
.Border {
  border-style: dashed !important;
}


.active {
  
   color: var(--sidebar-text) !important  ; 
  background: var(--sidebar-text-bg)  !important; 

}

.active-class{
  padding: 12px 10px 12px 10px !important;
}
.nav-link.active i {
  color: var(--sidebar-text) !important;
}
.submenu {
  padding-left: 30px;
  list-style: none;
}
.sidebar {
  background: var(--sidebar-bg);
 color: var(--text);
  position: fixed;
  z-index: 800;
  left: 0;
  top: 0;
  overflow: hidden;
  transition: 0.3s;
  width: 250px;
  height: 100vh;
  border-right: 1px solid var(--border);
  
 
}
.global{
  border: 1px solid var(--border);
   background-color: var(--chart-bg);
   padding: 10px;
   border-radius: 10px;
   color: var(--text);
   

}
.sidebarscroll{
  height: 87vh;
  overflow-y: auto;
  scrollbar-width: none;
   scroll-behavior: smooth;
}


.sidebar.expanded {
  width: 285px;
}

.sidebar.collapsed {
  width: 90px;
}

.sidebar.mobileOpen {
  width: 260px;
  transform: translateX(0);
}

.sidebar.mobileClosed {
  transform: translateX(-100%);
}

.menu {
  list-style: none;
  padding: 20px;
}

.menu li {
  padding: 12px 10px;
  cursor: pointer;
}

/* MAIN AREA */

.main {
  flex: 1;
  transition: 0.3s;
}

.main.expanded {
  margin-left: 285px;
}

.main.collapsed {
  margin-left: 90px;
}

.main.mobileOpen,
.main.mobileClosed {
  margin-left: 0;
}

/* TOPBAR */

.topbar {
  
  background: var(--sidebar-bg);
   position: sticky;
   top: 0;
   color: var(--text);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  z-index: 10;
  border-bottom: 1px solid var(--border);
  
 

}
.table-wrapper {
  background: var(--bg-card);
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.08);
    overflow-x: auto;
}

.custom-table {
  width: 100%;

  color: var(--text);

  
}

 thead {
  background: var(--t--head);
  
}

.custom-table th {
  text-align: left;
  padding: 12px 14px;
  font-weight: 700;
  font-size: 24px;
  color: var(--text);
  border-bottom: 1px solid var(--border);
}

.custom-table td {
  padding: 12px 14px;
  font-size: 16px;
  border-bottom: 1px solid var(--border);
}

.custom-table tbody tr:hover {
  background: var(--hover-bg);
  
}

/* .custom-table tbody tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.02);
} */

/* [data-theme="dark"] .custom-table tbody tr:nth-child(even) {
  background: rgba(228, 29, 29, 0.03);
} */

.status {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
}

.status.active {
  background: rgba(34, 197, 94, 0.15);
  color: #22c55e;
}

.status.pending {
  background: rgba(250, 204, 21, 0.15);
  color: #eab308;
}

.status.inactive {
  background: rgba(239, 68, 68, 0.15);
  color: #ef4444;
}
.userCard{
    background-color: var(--user-card);
  border:1px solid var(--border);
}




.sideEnd{
  border-top:1px solid var(--border);
}
.sidetop{
height: 59px;
  border-bottom: 1px solid var(--border);
}
@media (min-width: 768px) {
 .sidetop{
height: 62px;
}
}

.content {
  padding: 20px;
}


.sidebar-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--text);
  border-radius: 6px;
  background: transparent;
  border: none;
}

.sidebar-link:hover {
  background: rgba(0,0,0,0.05);
}

.sidebar-sublink {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: var(--text);
  font-size: 14px;
}

.sidebar-sublink:hover {
  opacity: 0.8;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
} 